
*{
    padding: 0;
    margin: 0;
}

body {
    background:
            radial-gradient(black 3px, transparent 4px),
            radial-gradient(black 3px, transparent 4px),
            linear-gradient(#fff 4px, transparent 0),
            linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
            linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
            #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-areas:"header header header"
                        "left main right"
                        "loadMore loadMore loadMore"
                        "footer footer footer";
    grid-template-columns: 130px 1fr 130px;
    min-height: 100vh;
}

.main {
    grid-area: main;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.footer {
    grid-area: footer;
    background:#999;
    text-align: center;
    font-family: Copperplate Gothic Light;
    padding: 10px;
    min-width: 100%;
}

.header {
    grid-area: header;
    background-color: #000000;
    padding: 20px;
    min-width: 100%;
}

.gallery {
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    grid-area: gallery;
    grid-gap: 13px;
}

.loadMore {
    padding: 7px;
    width: 300px;
    border-radius: 10px;
    color: black;
    display: block;
    margin: 0 auto;
    cursor: pointer
}

@media screen and (max-width: 1400px){
    .container {
        grid-template-areas:"header header header"
                            "main main main"
                            "addButt addButt addButt"
                            "footer footer footer";
    }
    .gallery {
        grid-template-columns: repeat(auto-fill, 450px);
        grid-gap: 23px;
        margin-left: 50px;
    }
    .info {
        font-size: 20px;
    }
    .logo {
        font-size: larger;
    }
    .username {
        font-size: 30px;
    }
}

.header a {
    color: #ffffff;
    font-size: 36px;
}

.header a:hover {
    background-color: #ffffff;
    color: #000000;
}

.fa-bars {
    float: left;
    width: 20%;
    text-align: center;
}

.logo {
    background-color: #000000;
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 37px;
    font-family: "Edwardian Script ITC";
}

.fa-search {
    float: right;
    width: 20%;
    text-align: center;
}

.username {
    color: white;
    float:right;
    text-align: center;
    margin-right: -80px;
    margin-left: 10px;
}

.fa-male {
    float: right;
    width: 20%;
    text-align: center;
}

.post {
    padding: 35px 10px;
    border: 2px solid #000000;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: white;
}

.post:hover {
    border: 2px solid #ffffff;
}

.desc {
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
}

.hashT {
    margin-top: -10px;
    padding: 10px;
    text-align: left;
    color: dimgrey;
    font-style: italic;
    font-weight: 900;
}

.info {
    text-align: left;
    float: left;
    color: grey;
    background-color: #ffffff;
    border: none;
}

.button {
    background-color: #000000;
    background: url(assets/whitesmallman_0C5_icon.ico) no-repeat;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: -10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 100%;
    float:right;
}

.img {
    border-radius: 10px;
    border: 2px solid #000000;
    margin-top: -30px;
}

.editButt {
    background: url(assets/pencil-edit-button16.png) center no-repeat;
    margin-left: 10px;
    padding: 10px;
    border:none;
    display: inline-block;
    cursor: pointer;
}

.fab {
    position: fixed;
    width: 64px;
    bottom: 25px;
    right: 100px;
    margin-right: -30px;
    float:right;
    cursor: pointer;
}

.fab-action-button {
    position: absolute;
    bottom: 0;
    margin:20px;
    float: right;
    display: block;
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.fab-action-button__icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    background: url("assets/plusbl.png") center no-repeat;
}


.search {
    width: 100%;
    position: relative
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 20%;
    position: absolute;
    transform: translate(220%, -120%);
}
